body {
	font-family: Ubuntu;
	font-size: 18px;
	background-color: whitesmoke;
	line-height: 140%;
	}
.divPageBody {
	width: 60%;
	margin-top: 90px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 400px;
	}
pre {
	border: 1px solid silver;
	min-height: 5em;
	font-size: 13px;
	}
.divResultsFromCall {
	}
.divVersionNumber {
	font-size: 12px;
	padding: 5px;
	}
.spNameChatLog {
	font-weight: bold;
	}
